<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375600093978-huh5n9k1i50kb1ntjnbtju81roa3sshr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375600093978-huh5n9k1i50kb1ntjnbtju81roa3sshr</string>
	<key>API_KEY</key>
	<string>AIzaSyBALbUIO7RV2udrWWfplcv9j4A4xJZ4Ylo</string>
	<key>GCM_SENDER_ID</key>
	<string>375600093978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CanKanbur.Instagramclone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-a93a7</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-a93a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:375600093978:ios:e6a49a85a3b2bc8a6faaa3</string>
</dict>
</plist>
